<h1>Sign-up page</h1>

<form action="/auth/signup" method="POST">
    <lab>Username: <input name="username" required></lab>
    <lab>E-mail<input name="email" type="email" required></lab>
    <lab>Password<input name="password" type="password" required></lab>
    <button type="submit">Submit</button>
</form>